// SPDX-License-Identifier: GPL-2.0-or-later OR BSD-3-Clause
/*
 * Device Tree file for S32G3-VC-SOM board.
 *
 * Copyright 2024 NXP
 */

/dts-v1/;

#include "s32g399a-vc.dtsi"

/ {
	model = "NXP S32G3-VC-SOM Board";
	compatible = "nxp,s32g399a-som", "nxp,s32g3";

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&gmac0 {
	status = "okay";
	phy-handle = <&gmac_mdio_a_phy1>;
	phy-mode = "rgmii-id";
};

&gmac0_mdio {
	/* KSZ9031 GMAC */
	gmac_mdio_a_phy1: ethernet-phy@1 {
		reg = <1>;
	};
};

&pfe {
	status = "okay";
};

&pfe_mdio0 {
	/* TJA1120B on BASE board */
	status = "okay";
	pfe_mdio_b_phy7: ethernet-phy@7 {
		reg = <7>;
	};
};

&pfe_mdio1 {
	/* occupied by GMAC0 */
	status = "disabled";
};

&pfe_mdio2 {
	/* TJA1120A */
	pfe_mdio_b_phy1: ethernet-phy@1 {
		reg = <1>;
	};
};

&pfe_netif0 {
	phy-mode = "sgmii";

	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};

&pfe_netif1 {
	phy-mode = "sgmii";
	status = "okay";
	managed = "in-band-status";
	phy-handle = <&pfe_mdio_b_phy7>;
};

&pfe_netif2 {
	phy-mode = "rgmii";
	phy-handle = <&pfe_mdio_b_phy1>;

	/* TJA1120A does not support AN */
	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";

	rtc@51 {
		compatible = "nxp,pca85073a";
		reg = <0x51>;
		nxp,no-battery;
	};

	pct2075@48 {
		compatible = "nxp,pct2075";
		reg = <0x48>;
	};
};

&i2c4 {
	status = "okay";
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&qspi {
	status = "okay";
};

&serdes0 {
	status = "okay";
};

&serdes1 {
	status = "okay";
};

&swt3 {
	status = "okay";
};

&swt4 {
	status = "okay";
};

&swt5 {
	status = "okay";
};

&swt6 {
	status = "okay";
};

&swt8 {
	status = "okay";
};

&swt9 {
	status = "okay";
};

&swt10 {
	status = "okay";
};

&swt11 {
	status = "okay";
};

&pcie0 {
	status = "okay";
};

&usdhc0 {
	status = "okay";
	/*
	 * Remove no-1-8-v to enable higher speed modes
	 * for SD card such as: SDR50 or DDR50.
	 */
	no-1-8-v;
};
